<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>TEFBandscan</title>
    <script src="http://localhost:6686/livereload.js"></script>
    <script src=https://code.jquery.com/jquery-3.7.1.min.js></script>
    <script src=https://cdn.datatables.net/2.0.3/js/dataTables.js></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<h1>Bandscan</h1>


<div id="status" th:replace="~{fragments :: status(${time},${freq},${pi},${piErrors},${ps},${psWithErrors},${rdserrors},${signal},${bandwidth},${snr})}"></div>

<hr>

<table id="bandscan" class="display bandscan" width="50%">
    <thead>
        <tr>
            <th data-field="frequencyKHz">QRG</th>
            <th data-field="rdsPI">PI</th>
            <th data-field="rdsPS">PS</th>
            <th data-field="psErrors">PS Errors</th>
            <th data-field="rdsErrors">RDS Errors</th>
            <th data-field="signalStrength">signal</th>
            <th data-field="cci">CCI</th>
            <th data-field="snr">S/N</th>
        </tr>
    </thead>
</table>


<script>
    function updateTime() {
        $.get("/status").done(function (fragment) { // get from controller
            $("#status").replaceWith(fragment); // update snippet of page
        });
    }
    var interval = setInterval(updateTime, 100);

    $(document).ready( function () {
        var table = $('#bandscan').DataTable( {
            paging: false,
            ajax: {
                url: '/bandscan',
                dataSrc: 'data'
            },
            columns: [
                { data: 'frequencyKHz'},
                { data: 'rdsPi'},
                { data: 'rdsPs'},
                { data: 'psErrors'},
                { data: 'rdsErrors' },
                { data: 'signalStrength'},
                { data: 'cci'},
                { data: 'snr'}
            ]
        });
        setInterval(function () {
            table.ajax.reload();
        }, 30000);
    } );


</script>
</body>
</html>