<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>TEFBandscan</title>
    <script src="http://localhost:6686/livereload.js"></script>
    <script src=https://code.jquery.com/jquery-3.7.1.min.js></script>
    <script src=https://cdn.datatables.net/2.0.5/js/dataTables.js></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/2.0.5/dataRender/datetime.js"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" rel="stylesheet"/>
</head>
<body>
<h1>Bandscan</h1>


<div id="status" th:replace="~{fragments :: status(${time},${displayStatus},${logged})}"></div>

<hr>

<table id="bandscan" class="display bandscan compact" style="width: auto;">
    <thead>
        <tr>
            <th data-field="frequencyKHz" style="font-family: inherit;">Frequency</th>
            <th data-field="rdsPI" style="font-family: inherit;">PI</th>
            <th data-field="rdsPS" style="font-family: inherit;">PS</th>
            <th data-field="psErrors">PS Errors</th>
            <th data-field="rdsErrors">RDS Errors</th>
            <th data-field="signalStrength">signal (dBµV)</th>
            <th data-field="cci">CCI</th>
            <th data-field="snr">S/N (dB)</th>
            <th data-field="timestamp">timestamp</th>
        </tr>
    </thead>
</table>


<script th:inline="javascript">
    function updateTime() {
        $.get("/status").done(function (fragment) { // get from controller
            $("#status").replaceWith(fragment); // update snippet of page
        });
    }
    var interval = setInterval(updateTime, 100);

    $(document).ready( function () {
        var scanStart = Date.parse(/*[[${scanStart}]]*/);
        var table = $('#bandscan').DataTable( {
            paging: false,
            ajax: {
                url: '/bandscan',
                dataSrc: 'data'
            },
            columnDefs: [
                {
                    className: 'monospaced',
                    render: $.fn.dataTable.render.number(',', '.', 0, ''),
                    targets: 0,
                },
                {
                    className: 'monospaced',
                    targets: 1
                },
                {
                    className: 'monospaced',
                    render: function(data, type, full) {
                        if (data != null) {
                            return data.toString().replace(/\s/g, "_");
                        } else {
                            return data;
                        }
                    },
                    targets: 2
                }
            ],
            columns: [
                { data: 'frequencyKHz'},
                { data: 'rdsPi'},
                { data: 'rdsPs'},
                { data: 'psErrors'},
                { data: 'rdsErrors' },
                { data: 'signalStrength'},
                { data: 'cci'},
                { data: 'snr'},
                { data: 'timestamp'}
            ],
            rowCallback: function ( row, data ) {
                if (Date.parse(data.timestamp) >= scanStart) {
                    $(row).css('background-color', 'rgba(0, 255, 0, 0.2)');
                    $(row).css('font-weight', 'bold');
                } else {
                    $(row).css('background-color', '');
                    $(row).css('font-weight', 'normal');
                }
            }
        });
        setInterval(function () {
            table.ajax.reload();
        }, 30000);
    } );


</script>
</body>
</html>