<div id="status" th:fragment="status(time, freq, pi, piErrors, ps, psWithErrors, rdserrors, signal, bandwidth, snr)">
    <div style="font-size: xxx-large; font-family: monospace;">
        <span id="freq" th:text="${freq}">87.5 MHz</span> &nbsp;
        <span id="pi" th:text="${pi}" style="background-color: lightgrey"></span> &nbsp;
        <span id="ps" th:if="${psWithErrors != null}" th:each="i: ${#numbers.sequence(0,7)}"><span th:text="${psWithErrors.getCharAtPosition(i)}" th:style="${psWithErrors.getCssColorAtPosition(i)}"/></span>&nbsp;
        <span id="rdserrors" th:text="${rdserrors + '%'}" style="background-color: lightgrey"></span>
        <span id="signal" th:text="${signal + 'dBµV'}"></span> &nbsp;
        <span id="cci" th:text="${cci + '%'}"></span> &nbsp;
        <span id="bandwidth" th:text="${bandwidth + 'kHz'}"></span>
        <span id="snr" th:text="${snr + 'dB'}"></span>
    </div>
</div>